.u-section-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-slider-1 {width: 1140px; min-height: 855px; margin: 30px auto 60px}
.u-section-1 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-1 .u-carousel-item-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-1 {padding: 30px 0}
.u-section-1 .u-image-1 {height: 150px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-carousel-item-3 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-3 {padding: 30px 0}
.u-section-1 .u-image-3 {height: 150px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-carousel-item-4 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-4 {padding: 30px 0}
.u-section-1 .u-image-4 {height: 150px; margin-top: 0; margin-bottom: -14px}
.u-section-1 .u-carousel-control-1 {width: 50px; height: 50px}
.u-section-1 .u-carousel-control-2 {width: 50px; height: 50px} 

@media (max-width: 1199px){ .u-section-1 .u-slider-1 {width: 940px} }

@media (max-width: 991px){ .u-section-1 .u-slider-1 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-slider-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 250px}
.u-section-1 .u-slider-1 {min-height: 210px; height: auto; margin-top: 40px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-carousel-indicators-1 {width: 72px; height: 3px; top: auto; bottom: 16px}
.u-section-1 .u-carousel-item-2 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-container-layout-2 {padding: 30px 0}
.u-section-1 .u-image-2 {height: 150px; margin-top: 0; margin-bottom: 0} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-shape-1 {height: 321px; margin-top: 80px; margin-bottom: 0}
.u-section-2 .u-text-1 {margin-bottom: 0}
.u-section-2 .u-image-1 {height: 133px; width: 304px; margin: -239px auto 0 18px}
.u-section-2 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-bottom: 60px; margin-top: 30px; background-image: none; box-shadow: 2px 2px 15px 0 rgba(128,128,128,1)} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 531px}
.u-section-2 .u-shape-1 {margin-top: 75px}
.u-section-2 .u-text-1 {margin-top: -88px; margin-left: 19px; margin-right: 19px}
.u-section-2 .u-image-1 {margin-left: auto}
.u-section-2 .u-btn-1 {font-size: 1.125rem; align-self: center; margin: 177px auto 0; padding: 8px 20px 8px 19px}
.u-section-2 .u-line-1 {width: 304px; transform-origin: right center 0; margin: -437px auto 0}
.u-section-2 .u-image-2 {width: 68px; height: 20px; margin: 2px auto 60px} }.u-section-3 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 82px}
.u-section-3 .u-custom-html-1 {min-height: 82px; height: auto; margin-top: 0; margin-bottom: 0} }.u-section-4 {margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-shape-1 {background-image: none}
.u-section-4 .u-image-1 {height: 133px; width: 304px; margin: -272px auto 0}
.u-section-4 .u-text-1 {margin-bottom: 0}
.u-section-4 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin-bottom: 60px; margin-top: 30px; box-shadow: 2px 2px 15px 0 rgba(128,128,128,1); background-image: none}
.u-section-4 .u-line-1 {transform-origin: right center 0; top: 13px; position: absolute; width: 304px; height: 2px; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-line-2 {width: 1px; margin: 541px auto 0 35px} 

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 549px}
.u-section-4 .u-shape-1 {height: 316px; margin-top: 93px; margin-bottom: 0}
.u-section-4 .u-text-1 {margin-top: 58px; margin-left: 13px; margin-right: 13px}
.u-section-4 .u-btn-1 {font-size: 1.125rem; margin: 66px auto 0; padding: 8px 21px 8px 19px}
.u-section-4 .u-line-1 {top: 34px}
.u-section-4 .u-line-2 {margin-top: 59px; margin-right: 304px}
.u-section-4 .u-image-2 {width: 68px; height: 20px; margin: -513px auto 60px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-shape-1 {height: 100px; margin-top: 462px; margin-bottom: 0}
.u-section-5 .u-shape-2 {height: 100px; margin-top: -221px; margin-bottom: 0}
.u-section-5 .u-shape-3 {height: 100px; margin-top: -338px; margin-bottom: 0}
.u-section-5 .u-shape-4 {height: 100px; margin-top: 19px; margin-bottom: 0}
.u-section-5 .u-image-1 {width: 80px; height: 80px; margin: -209px 10px 0 auto}
.u-section-5 .u-text-1 {margin-bottom: 0; font-size: 1rem; font-weight: normal}
.u-section-5 .u-image-2 {width: 150px; height: 157px; margin: 30px auto 60px 0}
.u-section-5 .u-image-3 {width: 80px; height: 80px; margin: 39px 10px 0 auto}
.u-section-5 .u-image-4 {width: 161px; height: 161px; margin: 30px auto 60px 0}
.u-section-5 .u-text-2 {text-decoration: none solid rgb(85, 92, 102)}
.u-section-5 .u-text-3 {font-size: 1rem}
.u-section-5 .u-text-4 {text-decoration: none solid rgb(85, 92, 102)}
.u-section-5 .u-text-5 {text-decoration: none solid rgb(85, 92, 102)}
.u-section-5 .u-text-6 {text-decoration: none solid rgb(85, 92, 102)}
.u-section-5 .u-shape-5 {height: 100px; margin-top: 168px; margin-bottom: 0}
.u-section-5 .u-image-5 {width: 80px; height: 80px; margin: -90px 10px 0 auto}
.u-section-5 .u-text-7 {text-decoration: none solid rgb(85, 92, 102)} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 804px}
.u-section-5 .u-shape-1 {margin-top: 514px}
.u-section-5 .u-text-1 {width: auto; font-size: 1.25rem; font-weight: 700; margin-top: -161px; margin-left: auto; margin-right: auto}
.u-section-5 .u-image-2 {width: 80px; height: 80px; margin: 168px 10px 0 auto}
.u-section-5 .u-image-4 {width: 80px; height: 80px; margin: 41px 10px 0 auto}
.u-section-5 .u-text-2 {width: auto; text-decoration: underline !important; font-size: 0.875rem; margin: -421px 94px 0 4px}
.u-section-5 .u-text-3 {font-size: 0.875rem; width: auto; animation-duration: 1000ms; margin: -101px auto 0 94px}
.u-section-5 .u-text-4 {width: auto; text-decoration: underline !important; font-size: 0.875rem; margin: 154px auto 0 58px}
.u-section-5 .u-text-5 {width: auto; text-decoration: underline !important; font-size: 0.875rem; margin: 196px auto 0 70px}
.u-section-5 .u-text-6 {width: auto; text-decoration: underline !important; font-size: 0.875rem; margin: -165px auto 0 48px}
.u-section-5 .u-text-7 {width: auto; text-decoration: underline !important; font-size: 0.875rem; margin: -62px auto 0 48px}
.u-section-5 .u-line-1 {width: 304px; height: 3px; transform-origin: center top 0; margin: -714px auto 0 18px}
.u-section-5 .u-image-6 {width: 68px; height: 20px; margin: -3px auto 60px} }.u-section-6 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-6 {margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 82px}
.u-section-6 .u-custom-html-1 {min-height: 82px; height: auto; margin-top: 0; margin-bottom: 0} }.u-section-7 .u-sheet-1 {min-height: 733px}
.u-section-7 .u-shape-1 {width: 297px; height: 311px; margin: 153px auto 0}
.u-section-7 .u-text-1 {font-size: 1.25rem; font-weight: 700; line-height: 1.2; margin: -426px 31px 0}
.u-section-7 .u-image-1 {width: 57px; height: 72px; margin: 67px auto 0 32px}
.u-section-7 .u-text-2 {font-size: 0.875rem; width: 262px; margin: 22px auto 0}
.u-section-7 .u-text-3 {width: auto; margin: -283px 37px 0 111px}
.u-section-7 .u-shape-2 {width: 297px; height: 334px; margin: 307px auto 0 22px}
.u-section-7 .u-image-2 {width: 56px; height: 72px; margin: -313px auto 0 33px}
.u-section-7 .u-text-4 {width: auto; margin: -83px 37px 0 111px}
.u-section-7 .u-text-5 {font-size: 0.875rem; width: 262px; margin: 37px auto 0}
.u-section-7 .u-shape-3 {width: 297px; height: 212px; margin: 58px auto 0}
.u-section-7 .u-image-3 {width: 57px; height: 72px; margin: -191px auto 0 33px}
.u-section-7 .u-text-6 {width: auto; margin: -75px 85px 0 122px}
.u-section-7 .u-text-7 {font-size: 0.875rem; width: 262px; margin: 32px auto 0}
.u-section-7 .u-text-8 {width: auto; font-size: 0.875rem; margin: 43px auto 0 22px}
.u-section-7 .u-btn-1 {border-style: none; font-weight: 700; font-size: 0.875rem; text-transform: uppercase; background-image: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 30px 22px 60px; padding: 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 26px}
.u-section-7 .u-btn-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-7 {margin-top: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 1481px}
.u-section-7 .u-shape-1 {margin-top: 207px}
.u-section-7 .u-text-8 {margin-top: 38px; margin-left: 33px; margin-right: 33px}
.u-section-7 .u-btn-1 {border-style: solid; margin: 23px auto 0; padding: 10px 51px}
.u-section-7 .u-line-1 {width: 304px; height: 2px; margin: -1372px auto 0 18px}
.u-section-7 .u-image-4 {width: 68px; height: 20px; margin: -2px auto 60px} }.u-section-8 {margin-top: 0; margin-bottom: 0}
.u-section-8 .u-sheet-1 {min-height: 500px}
.u-section-8 .u-image-1 {margin-bottom: 0}
.u-section-8 .u-text-1 {font-size: 1rem; margin: 30px 0 60px} 

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 163px}
.u-section-8 .u-image-1 {width: 52px; height: 65px; margin-top: 12px; margin-left: auto; margin-right: auto}
.u-section-8 .u-text-1 {font-size: 0.875rem; margin: 12px 5px 30px} }